app==0.0.1
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.6
Django==4.2.3
django-crispy-forms==2.0
djangorestframework==3.14.0
docutils==0.20.1
filelock==3.12.2
gunicorn==21.2.0
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
networkx==3.1
packaging==23.1
Pillow==10.0.0
platformdirs==3.8.1
psycopg2==2.9.8
Pygments==2.16.1
pypiwin32==223
pytz==2023.3.post1
pywin32==306
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.23.1
whitenoise==6.5.0
