<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
     <div class="row">
      <div class="col-sm-6 offset-sm-3 text-center">
          <h3>Password Reset Complete!!</h3>

          <div style="width:80%;height:0;padding-bottom:50%;position:relative;">
              <iframe src="https://giphy.com/embed/YlSR3n9yZrxfgVzagm" width="200" height="200" style="position:absolute" frameBorder="0" class="giphy-embed" ></iframe>
          </div>
      </div>
     </div>
    </div>
 <!-- Add Bootstrap JS and jQuery scripts (for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>




